<p>home-page works!</p>

<h1 class="text-3xl font-bold font-montserrat">
  all products {{ paginationService.currentPage() }}
</h1>
<h2 class="text-xl mb-6">for all kinds of winners</h2>

<app-pagination
  [pages]="productsResource.value()?.pages ?? 0"
  [currentPage]="paginationService.currentPage()"
></app-pagination>

<div
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 my-2 gap-3"
>
  <!-- ! card component -->

  @for (product of productsResource.value()?.products; track $index) {

  <app-product-card [product]="product"></app-product-card>
  }@empty {
  <p>Currently no products to be displayed.</p>
  }
</div>
